@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,800;1,100;1,200;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(136, 181, 219); /* Change background color to Alice Blue */
}

button {
    font-size: 30px; /* Reduce font size */
    padding: 15px 30px; /* Reduce button size */
    background: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 500;
    color: #061655;
    cursor: pointer;
}
